#!/usr/bin/env cwl-runner
#
# Run a participant's model
#
cwlVersion: v1.0
class: CommandLineTool


requirements:
  - class: DockerRequirement
    dockerPull: {{{ docker_repository }}}
    dockerOutputDirectory: /output
  - class: InitialWorkDirRequirement
    listing:
      - entry: $(inputs.data)
        entryname: $("/input")

inputs:
  - id: data
    type: Directory

outputs:
  - id: prediction_file
    type: File
    outputBinding:
      glob: {{prediction_file}}
{{#training}}
  - id: model_state
    type: Directory
    outputBinding:
      glob: model
{{/training}}
{{#scratch}}
  - id: scratch
    type: Directory
    outputBinding:
      glob: scratch
{{/scratch}}